<p id="notice"><%= notice %></p>

<div class="page row">
	<div class="small-8 column">
		<% @blog_posts.to_a.each() do |post| %>
			<%= render 'post', :post => post %>
			
		<% end %>
	</div>
	<div class="small-4 column show-for-medium-up">
		sidebar 
	</div>
</div>

<%= link_to 'New Blog post', new_blog_post_path %>
