<p id="notice"><%= notice %></p>
<div class="row page">
	<div class="small-12 medium-9 columns">
		<%= render 'post', :post => @blog_post %>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
		<%= link_to 'Back', blog_posts_path %>
	</div>
</div>
