<p id="notice"><%= notice %></p>
<div class="row page">
	<div class="small-12 medium-9 columns">
		<%= render 'post', :post => @blog_post %>
	</div>
</div>

<br />
<%= if current_user then link_to 'Edit', edit_blog_post_path(@blog_post) end %>
