<div class="row full-width splash splash-first">
	<div class="small-12 medium-12 columns">
		<div class="medium-8 small-12 columns">
			<h1>Mobile first Web</h1>
			<p class="splash_message">
				Did you know that Google recently changed their algorithm to give higher rank to 
				sites that are mobile friendly for users initiating a search from their mobile device? 
				Not only that, but it is estimated that this year mobile search volume will surpass 
				desktop-initiated searches. 
			</p>
			<p class="splash_message">
				This means big changes in how customers find your business. Don't miss out on your share
				of mobile search pie because your site isn't ready!
			</p>
		</div>
		<div class="medium-4 small-12 columns">
			picture goes here, maybe source<br />
			or some logos of web technologies 
		</div>
	</div>
</div>

<div class="row full-width splash splash-second">
	<div class="small-12 medium-12 columns">
		<div class="medium-4 small-12 columns">
			screenshot of app on mobile phone goes here
		</div>
		<div class="medium-8 small-12 columns">
			<h1>Mobile app development</h1>
			<p class="splash_message">
				Mobile apps are one of the primary ways customers are interacting with businesses, 
				and often people looking for a brand or service check the app store even before looking
				for your website!
			</p>
			<p class="splash_message">
				Take advantage of this market with our affordable app development solutions. We use the latest
				in mobile app development technology which allows us to create a single app that can be ran
				on either iOS or Android. This means less time spent developing which saves you money, and gives 
				your clients a consistent experience across a variety of mobile platforms. 
			</p>
		</div>
	</div>
</div>

<div class="row full-width splash splash-third">
	<div class="small-12 medium-12 columns">
		<div class="medium-8 small-12 columns">
			<h1>Technologies</h1>
			<p class="splash_message">
				wreetco uses modern tools like AngularJS and Ruby on Rails to keep your sites 
				and apps on the bleeding edge of development best practices. Not only do these tools
				help us produce premium-quality software products, they also allow us to keep 
				costs down by enabling our developers to be as productive as possible. 
			</p>
		</div>
		<div class="medium-4 small-12 columns">
			picture goes here, maybe source<br />
			or some logos of web technologies 
		</div>
	</div>
</div>


<br style="line-height: 500px;" />