<div id="skrollr-body">

<div class="row full-width splash splash_0">
	<div class="small-12 medium-12 columns valign" id="valign1">
		<div class="medium-8 small-12 columns">
			<h1>Mobile first Web Development</h1>
			<p class="splash_message">
				Recently, Google changed their search algorithm to give more prominent placement to mobile-friendly sites for users 
				initiating searches from their mobile devices. Not only that, but it is estimated that this year mobile search 
				volume will surpass that of desktop initiated searches. This means big changes in how customers find your business.
			</p>
			<p class="splash_message">
				We utilize the latest responsive design techniques to ensure your website maintains a consistent design philosophy 
				regardless of device or screen size. You'll be ready for your customers no matter how they choose to interact 
				with your website. 
			</p>
		</div>
		<div class="medium-4 small-12 columns" style="position: relative;"><!-- Commenting out this style tag and the one below had no effect -->
			<img src="/assets/responsive.png" alt="responsive web design" style="position: absolute: top: 50%;" /><!-- Consider removing? -->
		</div>
	</div>
</div>

<div class="row full-width splash splash_1">
	<div class="small-12 medium-12 columns valign" id="valign2">
		<div class="medium-4 small-12 columns">
			<img src="/assets/app.png" id="app" alt="mobile application development" />
		</div>
		<div class="medium-8 small-12 columns">
			<h1>Mobile app development</h1>
			<p class="splash_message">
				Mobile apps are one of the primary ways users today are interacting with businesses. 
				Clients expect established brands to have an app presence and often check the app store 
				before searching for a brand’s website. 
			</p>
			<p class="splash_message">
				Take advantage of this market with our affordable app development solutions. We use modern development tools 
				that allow the same app to run on either iOS or Android, giving your clients a consistent experience across 
				a variety of mobile platforms, and saving you time and money. 
			</p>
		</div>
	</div>
</div>

<div class="row full-width splash splash_2">
	<div class="small-12 medium-12 columns valign" id="valign3">
		<div class="medium-8 small-12 columns">
			<h1>Technologies</h1>
			<p class="splash_message">
				We use the latest development frameworks like Ruby on Rails and AngularJS to deliver rich, interactive web 
				and mobile applications. These tools help us produce premium software, while enabling us to keep 
				development costs in check by making our developers as productive as possible.   
			</p>
			<p class="splash_message">
				Have an existing project you’d like us to work with? We’re experienced in a wide variety of programming 
				languages and associated frameworks, including JavaScript, Ruby, Python, PHP, SQL/NoSQL and many others. 
			</p>
		</div>
		<div class="medium-4 small-12 columns">
			<div class="row">
				<div class="small-4 columns"><img src="/assets/html5-logo.png" style="padding: 1em;"></div>
				<div class="small-4 columns"><img src="/assets/css3-logo.png" style="padding: 1em;"></div>
				<div class="small-4 columns"><img src="/assets/javascript-logo.png" style="padding: 1em;"></div>
				<div class="small-4 columns"><img src="/assets/node-js-logo.png" style="padding: 1em;"></div>
				<div class="small-4 columns"><img src="/assets/angularjs-logo.png" style="padding: 1em;"></div>
				<div class="small-4 columns"><img src="/assets/ruby-on-rails-logo.png" style="padding: 1em;"></div>
			</div>
		</div>
	</div>
</div>

<div class="row full-width splash splash_3">
	<div class="small-12 medium-12 columns">
		<div class="medium-7 small-12 columns">
			&nbsp;
		</div>
		<div class="medium-5 small-12 columns">
			<h1 style="color:#252932;">Clients/Projects</h1>
		</div>
	
		<br	style="line-height: 5em;" />
			<div class="row bordered" style="margin: 1em;">
			<div class="small-12 medium-3 columns">
				a
			</div>
			<div class="small-12 medium-3 columns">
				b
			</div>
			<div class="small-12 medium-3 columns">
				c
			</div>
			<div class="small-12 medium-3 columns">
				d
			</div>
		</div>
	</div>
</div>
	
<!-- markup/scripts for the scroll arrow -->
<a id="scroll_arrow" class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a>
<script>
	$(document).scroll(function() {
		// we need to handle the scroll arrow hiding and showing
		if (window.scrollY < 50) // let's say anything as close as 50px is "top enough"
			document.getElementById('scroll_arrow').style.display = "block"; // show
		else
			document.getElementById('scroll_arrow').style.display = "none"; // hide
	}); // I wonder how leaky this is? seems like this event will be called *a lot*
</script>	
<!-- end scroll arrow -->
<!-- scripts to setup scroll animaions and 'fix' absolutely positioned content overflow -->
<script>
	if ((/iPhone|iPad|iPod/i).test(navigator.userAgent || navigator.vendor || window.opera)) {
		var div1 = document.getElementById("valign1");
		var div2 = document.getElementById("valign2");	
		var div3 = document.getElementById("valign3");
		div1.className = "small-12 medium-12 columns";
		div2.className = "small-12 medium-12 columns";
		div3.className = "small-12 medium-12 columns";
	}
	
	// enquire.js helps us query
	enquire.register("screen and (max-width: 40em)", {
		setup: function() {
			setupTransitions();	
		}, 
		match : function() {
			removeTransitions();
			var splashes = $('.splash');
			for (var i = 0; i < splashes.length; i++) {
				var imgs = splashes[i].getElementsByTagName('img');
				for (var j = 0; j < imgs.length; j++) {
					if (imgs[j].id == "app") {
						imgs[j].style.maxHeight = ($('.splash').height() * .33) + "px";
						imgs[j].parentNode.style.textAlign = "center";
						imgs[j].parentNode.style.marginBottom = "2em";
					}
						
				} // end images
			} // end splashes 
		}, // end match
		unmatch : function() {
			setupTransitions();
		}
	});
</script>



</div>


