<!-- html slider -->
<div class="slider_container row">
<ul class="splash_slider" data-orbit data-options="navigation_arrows:false;slide_number:false;">
  <li data-orbit-slide="splash-1">
		<div class="splash_description medium-6 small-12 column">
			<h2>Mobile app developement</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce purus quam, efficitur sit amet tempor eget, elementum vitae sapien. Donec blandit viverra magna ut auctor. Morbi in aliquam ex. Pellentesque eleifend leo id purus rutrum pulvinar. 
			</p>
			<p>
				Etiam at congue nunc, nec dictum ex. Nam eget erat mattis sapien congue feugiat sed vitae sapien. Vestibulum dui mauris, posuere sit amet orci ut, rutrum venenatis risus. Sed lacinia porta neque et imperdiet. Donec iaculis tellus quis erat luctus, in interdum risus pulvinar. Fusce luctus volutpat posuere. 
			</p>
		</div>
		<div class="medium-6 column gist show-for-medium-up">
			<script src="https://gist.github.com/tzDev/027265bd284ffe88467b.js"></script>
    </div>
  </li>
  <li data-orbit-slide="splash-2">
		<div class="medium-6 column">
			<h2>Web developement</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce purus quam, efficitur sit amet tempor eget, elementum vitae sapien. Donec blandit viverra magna ut auctor. Morbi in aliquam ex. Pellentesque eleifend leo id purus rutrum pulvinar. 
			</p>
			<p>
				Etiam at congue nunc, nec dictum ex. Nam eget erat mattis sapien congue feugiat sed vitae sapien. Vestibulum dui mauris, posuere sit amet orci ut, rutrum venenatis risus. Sed lacinia porta neque et imperdiet. Donec iaculis tellus quis erat luctus, in interdum risus pulvinar. Fusce luctus volutpat posuere. 
			</p>
		</div>
		<div class="medium-6 column show-for-medium-up">
      
    </div>
  </li>
</ul>
<!-- end slider -->
</div>
<div class="row" style="padding: 3em; text-align: center;">
	<div class="small-12 column">
		some icons and stuff and white space
	</div>
</div>
