<div class="page">
	<div id="splash-container">
	<div class="row splash">
		<div class="small-12 columns valign">
			<h1>Responsive design</h1>
			<br />
			<h1>Mobile apps</h1>
			<br />
			<h1>Web apps</h1>
		</div>
		</div>
	</div>

	<div class="full-width services">
		<div class="splash_arrow">&nbsp;</div>
		<div class="row">
			<div class="small-12 medium-4 columns">
				<div class="service-icon text-center">
					<img src="/assets/responsive-icon.png">
				</div>
				<h4>Responsive Web Design</h4>
				<p>
					Mauris condimentum commodo porta. Curabitur suscipit, odio a viverra volutpat, 
					nibh tellus laoreet dui, at imperdiet augue nunc eget metus. Mauris faucibus molestie pulvinar. 
					Vestibulum et fringilla odio.
				</p>
			</div>
			<div class="small-12 medium-4 columns">
				<div class="service-icon text-center">
					<img src="/assets/mobile_app.png">
				</div>
				<h4>Mobile Apps</h4>
				<p>
					Mauris condimentum commodo porta. Curabitur suscipit, odio a viverra volutpat, 
					nibh tellus laoreet dui, at imperdiet augue nunc eget metus. Mauris faucibus molestie pulvinar. 
					Vestibulum et fringilla odio.
				</p>
			</div>
			<div class="small-12 medium-4 columns">
				<div class="service-icon text-center">
					<img src="/assets/html.png">
				</div>
				<h4>Web Apps</h4>
				<p>
					Mauris condimentum commodo porta. Curabitur suscipit, odio a viverra volutpat, 
					nibh tellus laoreet dui, at imperdiet augue nunc eget metus. Mauris faucibus molestie pulvinar. 
					Vestibulum et fringilla odio.
				</p>
			</div>
		</div>
	</div>
	
	<div class="row" style="margin-top: 5em; margin-bottom: 5em;">
		<div class="columns small-12 text-center">
			<h2>Full stack solutions</h2>
			<p style="color: #aaa; margin-top: 1em;">
				Let us handle the design, development and deployment of your next project.
			</p>
		</div>
	</div>
	
	<div class="all-services" style="background-color: #fff;">
		<div class="row">
			<div class="small-12 medium-4 columns">
				<img src="/assets/app_icon.png" style="height: 38px;" class="sicon" />
				<h4>Mobile apps</h4>
				<p class="light-text">
					Mauris condimentum commodo porta. Curabitur suscipit, odio a viverra volutpat, nibh tellus 
					laoreet dui, at imperdiet augue nunc eget metus. Mauris faucibus molestie pulvinar. 
					Vestibulum et fringilla odio.
				</p>
			</div>
			<div class="small-12 medium-4 columns">
				<img src="/assets/webapp_icon.png" class="sicon" />
				<h4>Web apps</h4>
				<p class="light-text">
					Mauris condimentum commodo porta. Curabitur suscipit, odio a viverra volutpat, nibh tellus 
					laoreet dui, at imperdiet augue nunc eget metus. Mauris faucibus molestie pulvinar. 
					Vestibulum et fringilla odio.
				</p>
			</div>
			<div class="small-12 medium-4 columns">
				<img src="/assets/responsive_icon.png" class="sicon" />
				<h4>Responsive design</h4>
				<p class="light-text">
					Mauris condimentum commodo porta. Curabitur suscipit, odio a viverra volutpat, nibh tellus 
					laoreet dui, at imperdiet augue nunc eget metus. Mauris faucibus molestie pulvinar. 
					Vestibulum et fringilla odio.
				</p>
			</div>
			<div class="small-12 medium-4 columns">
				<img src="/assets/api_icon.png" class="sicon" />
				<h4>Api development</h4>
				<p class="light-text">
					Mauris condimentum commodo porta. Curabitur suscipit, odio a viverra volutpat, nibh tellus 
					laoreet dui, at imperdiet augue nunc eget metus. Mauris faucibus molestie pulvinar. 
					Vestibulum et fringilla odio.
				</p>
			</div>
			<div class="small-12 medium-4 columns">
				<img src="/assets/database_icon.png" style="height: 38px;" class="sicon" />
				<h4>Database</h4>
				<p class="light-text">
					Mauris condimentum commodo porta. Curabitur suscipit, odio a viverra volutpat, nibh tellus 
					laoreet dui, at imperdiet augue nunc eget metus. Mauris faucibus molestie pulvinar. 
					Vestibulum et fringilla odio.
				</p>
			</div>
			<div class="small-12 medium-4 columns">
				<img src="/assets/server_icon.png" style="height: 38px;" class="sicon" />
				<h4>Hosting</h4>
				<p class="light-text">
					Mauris condimentum commodo porta. Curabitur suscipit, odio a viverra volutpat, nibh tellus 
					laoreet dui, at imperdiet augue nunc eget metus. Mauris faucibus molestie pulvinar. 
					Vestibulum et fringilla odio.
				</p>
			</div>
		</div>
	</div>
	
	
	<div class="projects">
		<div class="splash_arrow" style="border-top: 10vw solid #fff;">&nbsp;</div>
		<div class="row">
			<div id="project-slider">
				<div class="project-card">
					<div class="card">
						<div class="image">
							<img src="http://lorempixel.com/640/480/city">
							<span class="title">Example Card</span>
						</div>
						<div class="content">
							<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
						</div>
						<div class="action">
							<a href='#'>Project Link</a>
						</div>
					</div>
				</div>
				<div class="project-card">
					<div class="card">
						<div class="image">
							<img src="http://lorempixel.com/640/480/technics">
							<span class="title">Example Card</span>
						</div>
						<div class="content">
							<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
						</div>
						<div class="action">
							<a href='#'>Project Link</a>
						</div>
					</div>
				</div>
				<div class="project-card">
					<div class="card">
						<div class="image">
							<img src="http://lorempixel.com/640/480/transport">
							<span class="title">Example Card</span>
						</div>
						<div class="content">
							<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
						</div>
						<div class="action">
							<a href='#'>Project Link</a>
						</div>
					</div>
				</div>
				<div class="project-card">
					<div class="card">
						<div class="image">
							<img src="http://lorempixel.com/640/480/nature">
							<span class="title">Example Card</span>
						</div>
						<div class="content">
							<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
						</div>
						<div class="action">
							<a href='#'>Project Link</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="contact">
		<div class="row collapse full-width map">
			<div class="columns 12 flex-video" style="padding-bottom: 40vh;" id="map-canvas">
				hey
			</div>
		</div>
	</div>
	
	
	
</div><!-- end 'page' -->
<!-- some js stuff -->
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
	$(window).resize(function() {
		$('.service-icon').css('height', $('.service-icon').width());
	});
	// enquire is your friend
	enquire.register("screen and (max-width: 40em)", {
		setup: function() {
			// setup the headroom menu
			Headroom.options.offset = 0; // how far down until we start the hiding feature
			Headroom.options.tolerance = 5; // how many px to allow before pin/unpin (10 is pretty nice, I find)
			//var hr = new Headroom($('nav')[0]);
			var hr = new Headroom($('#nav-contain')[0]);
			hr.init();
			// since headroom has to be fixed, compensate the page element offset, adding one em
			var offset = $('nav').height() + parseFloat($("body").css("font-size"));
			//$('.page').first().css('padding-top', offset);
			// fix service icon width
			$('.service-icon').css('height', $('.service-icon').width());
			// setup the slick carousel
			$('#project-slider').slick({
				centerMode: true,
				centerPadding: '0px',
				slidesToShow: 3,
				responsive: [
					{
						breakpoint: 768,
						settings: {
							arrows: false,
							centerMode: true,
							centerPadding: '0px',
							slidesToShow: 3
						}
					},
					{
						breakpoint: (parseFloat($("body").css("font-size")) * 49),
						settings: {
							arrows: false,
							centerMode: true,
							centerPadding: '40px',
							slidesToShow: 1
						}
					}
				]
			});
			// init the map
			var mapCanvas = document.getElementById('map-canvas');
			var mapOptions = {
			center: new google.maps.LatLng(39.733891, -104.981394),
			zoom: 12,
			draggable: false,
			scrollwheel: false,
			scalaControl: false,
			disableDefaultUI: true,
			mapTypeId: google.maps.MapTypeId.ROADMAP
			}
			var map = new google.maps.Map(mapCanvas, mapOptions);
				var marker = new google.maps.Marker({
				position: new google.maps.LatLng(39.7391667, -104.9841667),
				map: map,
				title: 'wreetco'
  		});
		}, // end setup
		
		match: function() {
			
		}, // end match
		
		unmatch: function() {
			
		} // end unmatch
	});

</script>