<div class="page">
	<div id="splash-container">
	<div class="row splash">
		<div class="small-12 columns valign">
			<h1>Responsive design</h1>
			<br />
			<h1>Mobile apps</h1>
			<br />
			<h1>Web apps</h1>
		</div>
		</div>
	</div>

	<div class="full-width services">
		<div class="splash_arrow">&nbsp;</div>
		<div class="row">
			<div class="small-12 medium-4 columns">
				<div class="service-icon text-center">
					<img src="/assets/responsive-icon.png">
				</div>
				<h4>Responsive Web Design</h4>
				<p>
					We utilize the latest responsive design techniques to ensure your website maintains a consistent 
					design philosophy regardless of device or screen size. You'll be ready for your customers no matter 
					how they choose to interact with your website.
				</p>
			</div>
			<div class="small-12 medium-4 columns">
				<div class="service-icon text-center">
					<img src="/assets/mobile_app.png">
				</div>
				<h4>Mobile Apps</h4>
				<p>
					A mobile app can help your product or service reach a broader audience. Users often check on the app store 
					before searching online, and many established brands now have a presence on the major app markets.
				</p>
			</div>
			<div class="small-12 medium-4 columns">
				<div class="service-icon text-center">
					<img src="/assets/html.png">
				</div>
				<h4>Web Apps</h4>
				<p>
					We take advantage of the latest development tools and frameworks like Ruby on Rails and AngularJS to create rich, 
					interactive web applications and have experience with a wide variety programming languages and tools. 
				</p>
			</div>
		</div>
	</div>
	
	<div class="row" style="margin-top: 5em; margin-bottom: 5em;">
		<div class="columns small-12 text-center">
			<h2>Full stack solutions</h2>
			<p style="color: #aaa; margin-top: 1em;">
				Let us handle the design, development and deployment of your next project.
			</p>
		</div>
	</div>
	
	<div class="all-services" style="background-color: #fff;">
		<div class="row">
			<div class="small-12 medium-4 columns">
				<img src="/assets/app_icon.png" style="height: 38px;" class="sicon" />
				<h4>Mobile apps</h4>
				<p class="light-text">
					We use platform independent app development frameworks to craft a single codebase that works on 
					smartphones and tablets running both iOS and Android. 
				</p>
			</div>
			<div class="small-12 medium-4 columns">
				<img src="/assets/webapp_icon.png" class="sicon" />
				<h4>Web apps</h4>
				<p class="light-text">
					Whether you're building the next big thing or just moving old software to the cloud, count on us to 
					deliver a quality, easy to use web application. 
				</p>
			</div>
			<div class="small-12 medium-4 columns">
				<img src="/assets/responsive_icon.png" class="sicon" />
				<h4>Responsive design</h4>
				<p class="light-text">
					Your site will be recognizable across a wide variety of platforms and screen sizes because the same 
					code and elements are being used for each individual device.
				</p>
			</div>
			<div class="small-12 medium-4 columns">
				<img src="/assets/api_icon.png" class="sicon" />
				<h4>Api development</h4>
				<p class="light-text">
					Need to expose your data or products to the internet for use by other developers? We'll create 
					an intuitive, RESTful API endpoint to serve as a solid app platform. 
				</p>
			</div>
			<div class="small-12 medium-4 columns">
				<img src="/assets/database_icon.png" style="height: 38px;" class="sicon" />
				<h4>Database</h4>
				<p class="light-text">
					We provide database design and administration services for both SQL and NoSQL powered projects. 
					We'll host it for you, too. 
				</p>
			</div>
			<div class="small-12 medium-4 columns">
				<img src="/assets/server_icon.png" style="height: 38px;" class="sicon" />
				<h4>Hosting</h4>
				<p class="light-text">
					We offer professional quality web hosting services starting at $10 a month. Our secure and reliable 
					servers are monitored 24/7 to ensure maximum speed and availability. 
				</p>
			</div>
		</div>
	</div>
	
	
	<div class="projects">
		<div class="splash_arrow" style="border-top: 10vw solid #fff;">&nbsp;</div>
		<div class="row">
			<div id="project-slider">
				<div class="project-card">
					<div class="card">
						<div class="image">
							<img src="/assets/wcm_client.png">
							<span class="title">WCM</span>
						</div>
						<div class="content">
							<p>
								The wreetco contact manager enables easy management of contact form submissions from your website. 
								For now, this tool is exclusively available to wreetco clients. 
							</p>
						</div>
						<div class="action">
							<a href='http://wcm.wreet.co'>View app</a>
						</div>
					</div>
				</div>
				<div class="project-card">
					<div class="card">
						<div class="image">
							<img src="/assets/app.png">
							<span class="title">Weight Logger</span>
						</div>
						<div class="content">
							<p>
								A simple, no-frills app to keep track of your weight lifting progress. Track weight, reps and 
								intensity over time. Use the Weight Logger to keep those gains sick, bruh. 
							</p>
						</div>
						<div class="action">
							<a href='http://github.com/wreetco/weightlog'>View on GitHub</a>
						</div>
					</div>
				</div>
				<div class="project-card">
					<div class="card">
						<div class="image">
							<img src="/assets/msud_site.png">
							<span class="title">MSU Computer Club</span>
						</div>
						<div class="content">
							<p>
								As MSU Denver students, we are pleased to host and maintain the school's computer club website. 
								<br /><br />
							</p>
						</div>
						<div class="action">
							<a href='http://msudcomputer.club'>View site</a>
						</div>
					</div>
				</div>
				<div class="project-card">
					<div class="card">
						<div class="image">
							<img src="/assets/mean_wreed.png">
							<span class="title">MEAN Wreed</span>
						</div>
						<div class="content">
							<p>
								Our custom MEAN seed. Includes Mongoose support with example model and comes bootstrapped with 
								AngularJS and a copy of Zurb's Foundation 5. It's our preferred way to get started. 
							</p>
						</div>
						<div class="action">
							<a href='http://github.com/wreetco/mean-wreed'>View on GitHub</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="contact">
		<div class="row collapse full-width map">
			<div class="columns 12 flex-video" style="padding-bottom: 40vh;" id="map-canvas">
				hey
			</div>
		</div>
	</div>
	
</div><!-- end 'page' -->
<!-- some js stuff -->
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>	
	$(window).resize(function() {
		$('.service-icon').css('height', $('.service-icon').width());
	});
	// enquire is your friend
	enquire.register("screen and (max-width: 40em)", {
		setup: function() {
			// setup the headroom menu
			Headroom.options.offset = 0; // how far down until we start the hiding feature
			Headroom.options.tolerance = 5; // how many px to allow before pin/unpin (10 is pretty nice, I find)
			//var hr = new Headroom($('nav')[0]);
			var hr = new Headroom($('#nav-contain')[0]);
			hr.init();
			// since headroom has to be fixed, compensate the page element offset, adding one em
			var offset = $('nav').height() + parseFloat($("body").css("font-size"));
			//$('.page').first().css('padding-top', offset);
			// fix service icon width
			$('.service-icon').css('height', $('.service-icon').width());
			// setup the slick carousel
			$('#project-slider').slick({
				centerMode: true,
				centerPadding: '0px',
				slidesToShow: 3,
				responsive: [
					{
						breakpoint: 768,
						settings: {
							arrows: false,
							centerMode: true,
							centerPadding: '0px',
							slidesToShow: 3
						}
					},
					{
						breakpoint: (parseFloat($("body").css("font-size")) * 49),
						settings: {
							arrows: false,
							centerMode: true,
							centerPadding: '40px',
							slidesToShow: 1
						}
					}
				]
			});
			// init the map
			var mapCanvas = document.getElementById('map-canvas');
			var mapOptions = {
			center: new google.maps.LatLng(39.733772, -104.981142),
			zoom: 12,
			draggable: false,
			scrollwheel: false,
			scalaControl: false,
			disableDefaultUI: true,
			mapTypeId: google.maps.MapTypeId.ROADMAP,
			//styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#6195a0"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"landscape","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#e6f3d6"},{"visibility":"on"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45},{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#f4d2c5"},{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"labels.text","stylers":[{"color":"#4e4e4e"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#f4f4f4"}]},{"featureType":"road.arterial","elementType":"labels.text.fill","stylers":[{"color":"#787878"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#eaf6f8"},{"visibility":"on"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#eaf6f8"}]}]
			styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"administrative.land_parcel","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"landscape.natural","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"on"},{"color":"#052366"},{"saturation":"-70"},{"lightness":"85"}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"simplified"},{"lightness":"-53"},{"weight":"1.00"},{"gamma":"0.98"}]},{"featureType":"poi","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45},{"visibility":"on"}]},{"featureType":"road","elementType":"geometry","stylers":[{"saturation":"-18"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"road.arterial","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"road.local","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#57677a"},{"visibility":"on"}]}]
			}
			var map = new google.maps.Map(mapCanvas, mapOptions);
				var marker = new google.maps.Marker({
				position: new google.maps.LatLng(39.733772, -104.981142),
				map: map,
				title: 'wreetco'
  		});
		}, // end setup
		
		match: function() {
			// onload stuff for small screens
		}, // end match
		
		unmatch: function() {
			// stuff do that we don't want in the match function the other way around
		} // end unmatch
	});
	
	enquire.register("screen and (min-width: 40em)", {
		match: function() {
			// onload stuff for big screens
		},
		
		unmatch: function() {
			// will be executed in addition to the match query on the other instance
		}
	});

</script>