<div class="row">
	<div class="medium-6 small-12 column">
		<h2>About</h2>
		<p>Find me in app/views/about/index.html.erb</p>
		<p>This is some stuff<br />horatio cronblaster doesn't afraid of anything and is a long enough sentence to wrap the line.</p>
	</div>
	<div class="medium-6 show-for-medium-up column">
		
	</div>
</div>

<div class="row">
	<div class="medium-6 show-for-medium-up column">

	</div>
	<div class="medium-6 small-12 column">
		<h2>Responsive design</h2>
			<p>Find me in app/views/about/index.html.erb</p>
			<p>This is some stuff and it is all wreety</p>
	</div>
</div>