<div class="row page">
	<div class="columns small-9">
		<h1>Thank You!</h1>
		<p>
			Your message has been received and will be answered promptly!
		</p>
		<p>
			-wreetco development team
		</p>
	</div>
	<div class="columns small-3">
		<!-- wreetco LOGO -->
	</div>
</div><!-- end row -->