<div class="row page">
	<div class="columns medium-5 small-12">
		<h1>Contact</h1>
		<p>
			If you’re ready to get started, or would just like to get in contact with us, please fill out this 
			form and let us know how we may help you. 
		</p>
		<p>
			We make an effort to reply to all submissions within 1-2 business days. If this request is urgent or you 
			need assistance immediately, please email us at info@wreet.co.
		</p>
		<p>
			Please note that all fields are required. 
		</p>
	</div><!-- end left -->
	<!-- right column -->
	<div class="columns medium-7 small-12">
		<%= render 'contact_form' %>
	</div><!-- end right column -->
</div><!-- end row -->






