<div class="row page">
	<div class="columns medium-5 small-12">
		<h1>Contact</h1>
		<p>
			Ready to get started, or do you just have a few questions? 
		</p>
		<p>
			Please fill out the form and let us know how we may help you!
			We'll be sure to get back to you within 1-2 business days.
		</p>
		<p>
			If this request is urgent or you need assistance immediately, 
			please email us at info@wreet.co and we'll get in touch with you as soon 
			as possible. 
		</p>
	</div><!-- end left -->
	<!-- right column -->
	<div class="columns medium-7 small-12">
		<%= render 'contact_form' %>
	</div><!-- end right column -->
</div><!-- end row -->






