// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$headers: #195962;
$overlay_bg: #252932;
$offwhite: #DFE5CE;
$highlights: #F56F6C;
$text: #191C21;

html, body {
	//font-size: 16px;
	font-color: $text;
}

.top-bar .name h1 a:hover {
	background-color: transparent;
}

.top_contrast {
	background: $headers;
}

.top-bar-section .dropdown li a {
	border-bottom: 1px solid $overlay_bg;
}

.top-bar-section ul li > a:hover {
	border-bottom: 1px solid $highlights;
}

.right ul {
	//border-top: 1px solid $highlights;
}

.parent-link .js-generated {
	display: none !important;
}

h1, h2 {
	color: $headers;
	padding: 0px;
	margin: 0px;
}

.slider_container {
	margin-top: 1em;
}

.splash {
	//min-height: 80vh;
	padding: 5em 0;
}

.splash-third {
	background-color: #333;
	color: #fff;
}

.splash-first {
	background-color: $overlay_bg;
	color: #fff;
}

.splash-second {
	background-color: #29909f;
	color: #fff;
}

.splash-four {
	background-color: #fff;
}


.app_frame {
	width: 100%;
	border: none;
	min-height: 300px;
}

.splash h1 {
	color: #fff;
	text-transform: uppercase;
	font-size: 2.5em;
}

.bordered div {
	border: 1px solid red;
}

.splash_slider {
	//background: $headers;
	//color: #fff;
}

.splash_description h1, h2, h3 {
	color: $headers;
}

.splash_message {
	padding: 0.5em; 
	line-height: 1.5em;	
	text-align: justify;
}

.right {
	float: right;
}

.footer {
	background-color: $overlay_bg;
	height: 200px;
	color: #fff;
}

.page {
	//padding: 1em;
}

.gist {
	margin-top: 0.5em;
	max-height: 65vh;
	overflow: hidden;
}

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.page a {
	color: $headers !important;
}

.page a:hover {
	background-color: transparent;
	border-bottom: 1px solid $highlights;
}

.post_body {
	margin-top: 1em;
}