// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$headers: #195962;
$overlay_bg: #011722;
$offwhite: #DFE5CE;
$highlights: #F56F6C;
$text: #191C21;

html, body {
	font-color: $text;
	background-color: $overlay_bg!important;
}

.top-bar .name h1 a:hover {
	background-color: transparent;
}

#nav-contain {
	background-color: $overlay_bg;
}

.top_contrast {
	background: $headers;
}

.top-bar-section .dropdown li a {
	border-bottom: 1px solid $overlay_bg;
}

.top-bar-section ul li > a:hover {
	border-bottom: 1px solid $highlights;
}

.right ul {
	//border-top: 1px solid $highlights;
}

.parent-link .js-generated {
	display: none !important;
}

h1, h2, h3, h4 {
	color: #fff;
	padding: 0px;
	margin: 0px;
	text-transform: uppercase;
}

.sidebar h3 {
	color: $overlay_bg !important;
}

.slider_container {
	margin-top: 1em;
}


.valign {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.top-bar .toggle-topbar.menu-icon {
	margin-right: .5em; 
}

.top-bar .toggle-topbar.menu-icon a:hover {
	background-color: transparent;
}

.bordered div {
	border: 1px solid red;
}

.splash {
	height: 70vh;
}

#scroll_arrow:hover {
	//background: transparent;
	cursor: alias;
}


.right {
	float: right;
}

.footer {
	background-color: $overlay_bg;
	color: #d7dae1;
	padding-top: 1em;
}

.footer .contact_form {
	padding: 0 !important;
}

.footer label {
	color: #d7dae1 !important;
}

.footer input, .footer select, .footer textarea {
	background-color: #464e5f;
	color: #d7dae1;
	border: none;
	border-radius: 5px;
}

.footer h4 {
	text-transform: uppercase;
	color: $highlights;
	font-size: 18px;
}

.footer ul li a:not(:hover) {
	color: #d7dae1 !important;
}

.footer ul li:hover {
	background-color: rgba(104,115,140,.1) !important;
}
/*
This is the CSS to make the footer text input
background colors behave.
*/
.footer input:focus {
	background-color: #464e5f;
}

.highlight {
	color: $highlights;
}

.page {
	//background: url(/assets/splash_bg.png);
	//background-size: cover;
}

#splash-container {
	position: relative;
}

#splash-container::after {
	content: "";
	//background: url(/assets/splash_bg.png);
	opacity: 0.1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
}

.blog_post {
	margin-bottom: 2em;
}

.blog_post h2 {
	color: $headers !important;
}

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.splash_arrow {
	width: 0; 
	height: 0; 
	border-left: 12.5vw solid transparent;
	border-right: 12.5vw solid transparent;
	border-top: 10vw solid $overlay_bg;
	margin: 0 auto;
	margin-bottom: 2em;
}

.services {
	background-color: #fff;
	//min-height: 50vh;
	padding-bottom: 2em;
	z-index: 2;
}

.service-icon {
	width: 50%;
	margin: 0 auto;
	margin-bottom: 2em;
}

.services .columns p {
	margin-top: 1em;
	color: #999;
	font-size: .9em !important;
	text-align: justify;
}

.services h4 {
	color: #222;
	text-align: center;
}

.all-services {
	padding: 5em 0;
}

.all-services p {
	text-align: justify;
	font-size: .9em !important;
	margin-top: -1em;
}

.sicon {
	float: left;
	width: 48px;
	margin-right: .5em;
}

.light-text {
	color: #999;
}

.all-services h4 {
	color: #222;
	position: relative;
	top: -.25em;
}

.projects {
	background-color: #eee;
	padding-bottom: 1em;
}

.project-card {
	margin: 1em 0.5em;
	//padding: 20px;
	transition: all 300ms ease;
}

.slick-center {
	transform: scale(1.1);
}

.slick-prev:before, .slick-next:before {
	color: #222 !important;
}

.slick-track {
	//padding: 1em 0;
}
	
.projects h1, .projects h2 {
	color: #222;
}

.contact {
}

.page a, .page a:visited {
	color: $headers;
}

.page a:hover {
	background-color: transparent;
	color: inherit;
	border-bottom: 1px solid $highlights;
}

.post_body {
	margin-top: 1em;
	text-align: justify;
}

.tags a:after {
	content: " | "
}

.tags a:last-child:after {
	content: "";
}


.top_tags {
	margin-top: 1em;
}

.top_tags_list {
	margin-top: .5em;
}

.top_tags_list li {
	padding: .5em 1em;
	font-size: 1.4em;
}

.social img {
	max-width: 50px;
}

.sidebar li {
	padding-bottom: .5em;
	font-size: 1.5em !important;
	border-bottom: 1px solid $headers;
}

.sidebar li:hover {
	background-color: rgb(250, 250, 250);
	border-bottom: 1px solid $highlights;
}

.sidebar li a:not(:hover) {
	color: $headers !important;
}

.sidebar li a:hover {
	background: transparent !important;
	border: none !important;
}

.sidebar .date {
	font-size: .75em;
	color: #888;
	padding-left: 1em;
}

.debug {
	border: 1px solid red !important;
}

.contact_text h1 {
	color: $headers;
}

.contact_text p {
	text-align: justify;
}

.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out; z-index: 99;}
.headroom--unpinned {top: -100px;}
.headroom--pinned {top: 0;}







